{% extends 'base.html' %}


{% block title %}
{{ comment.name }} posts
{% endblock title %}


{% block content_title %}
Post for "{{ comment.name }}" comment:
{% endblock content_title %}


{% block content %}

{{ comment.body }}

<div class="mt-3">
    <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('comments.edit_comment', slug=comment.slug) }}"
        role="button">Edit
        comment</a>
</div>

<div class="post">
    <a href='{{ url_for('posts.post_detail', slug=post.slug) }}'> {{ post.title }} </a>
</div>




{% endblock content %}
