{% extends 'base.html' %}


{% block title %}
Main page
{% endblock title %}


{% block content_title %}
Main page
{% endblock content_title %}


{% block content %}
<div class="offset-md-3 col-md-6">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga quae ipsum, id obcaecati eum culpa suscipit
        corporis nobis deserunt? Perferendis est fugiat, ratione perspiciatis suscipit officiis ex officia id.</p>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga quae ipsum, id obcaecati eum culpa suscipit
        corporis nobis deserunt? Perferendis est fugiat, ratione perspiciatis suscipit officiis ex officia id.</p>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga quae ipsum, id obcaecati eum culpa suscipit
        corporis nobis deserunt? Perferendis est fugiat, ratione perspiciatis suscipit officiis ex officia id.</p>
</div>
{% endblock content %}
