{% extends 'base.html' %}


{% block title %}
{{ post.title }}
{% endblock title %}


{% block content_title %}

{% endblock content_title %}


{% block content %}

<div class="card offset-md-2" style="width: 38rem;">
    <div class=" card-header">
        Tags:
        {% for tag in tags %}
        <a href='{{ url_for('posts.tag_detail', slug=tag.slug) }}'><span
                class="badge bg-primary">{{ tag.name }}</span></a>
        {% endfor %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <a class="btn btn-outline-secondary btn-sm fas fa-pencil-alt" href="{{ url_for('posts.edit_post', slug=post.slug) }}"
            role="button"></a>
        <a class="btn btn-outline-danger btn-sm far fa-trash-alt" href="{{ url_for('posts.delete_post', slug=post.slug) }}"
            role="button"></a>
    </div>
</div>

{% for comment in comments %}
<div class="card offset-md-2" style="width: 38rem;">
    <div class="card-body">
        <h6 class="card-title">
            <a href='{{ url_for('comments.comment_detail', slug=comment.slug) }}'>{{ comment.name }}</a>
        </h6>
        <p class="card-text">{{ comment.body }}</p>
    </div>
</div>
{% endfor %}

<div class="mt-2 offset-md-2">
    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('posts.create_comment', slug=post.slug) }}"
        role="button">Add new
        comment</a>
</div>



{% endblock content %}
