{% extends 'base.html' %}


{% block title %}
{{ post.title }}
{% endblock title %}


{% block content_title %}
{{ post.title }}
{% endblock content_title %}


{% block content %}
<div class="tags">
    {% for tag in tags %}
    <a href='{{ url_for('posts.tag_detail', slug=tag.slug) }}'><span class="badge bg-primary">{{ tag.name }}</span></a>
    {% endfor %}
</div>

<div>
    {{ post.body }}
</div>
<div class='comments'>
    {% for comment in comments %}

    <a href='{{ url_for('comments.comment_detail', slug=comment.slug) }}'>{{ comment.name }}</a>

    <p>
        {{ comment.body }}
    </p>

    {% endfor %}
</div>
{% endblock content %}
